body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.margin {
    margin-left: 1.7%;
}

.container {
    text-align: center;
    margin-top: 20vh;
}

h1 {
    font-size: 2.5em;
}

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding: 25px 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    opacity: 0.8;
}

.navbar a:hover {
    color: black;
}

.first-hr {
    margin: 0 1.7%;
    height: 4px;
    border: none;
    background-color: white;
}

h2 {
    text-align: left;
    margin-left: 1.7%;
    color: white;
}

h3 {
    color: white;
    font-weight: lighter;
}

.release-text {
    font-weight: lighter;
    color: white;
    text-align: left;
    margin-left: 1.7%;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0.7;
    font-size: 1.1em;
}

.release-text:hover {
    font-weight: lighter;
    color: white;
    text-align: left;
    margin-left: 1.7%;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 1;
}

.release-hr {
    margin: 0 1.7%;
}

.zoomed-out {
    font-size: 0.9em
}

.rights {
    opacity: 0.5;
}

.about-p {
    text-align: left;
    margin-left: 1.7%;
    margin-right: 1.7%;
}

.about-contact {
    text-align: left;
    margin-left: 1.7%;
    font-weight: lighter;
    color: white;
    opacity: 0.7;
    font-size: 1.1em;
}

.about-titles {
    text-align: left;
    margin-left: 1.7%;
    margin-top: 2%;
    color: white;
}

.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

:root {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from { opacity: 0.95; }
    to { opacity: 1; }
}

.fade-in-element {
    animation: fadeInElement 1s forwards;
}

@keyframes fadeInElement {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-element:nth-child(1) {
    animation-delay: 0.5s;
}

.fade-in-element:nth-child(2) {
    animation-delay: 0.1s;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #000000;
    border-radius: 5%;

}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 5%;
}

.client-login-button {
    z-index: 99999;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.client-login-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    border-radius: 3px;
    background-color: #000000;
}

.login-form label {
    align-self: flex-start;
    margin: 10px 0 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.login-form button {
    margin-top: 5%;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #000000;
    color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.disclaimer {
    text-align: left;
    margin-left: 1.7%;
    font-size: smaller;
}


.innovation_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px;
    width: calc(100% - 40px);
}

.box {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
    position: relative;
    margin-bottom: 80px;
    color: #ffffff;
}

.box_1 {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(10) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 0h10v10H0z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 0%, 1)'/><path d='M10 10h10v10H10z'  stroke-width='1' stroke='none' fill='hsla(340, 0%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-400,0)' fill='url(%23a)'/></svg>")
}

.box_2 {
    background-color:white;
}

.box_3 {
    background-color:white;
}

.box_4 {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(10) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 0h10v10H0z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 0%, 1)'/><path d='M10 10h10v10H10z'  stroke-width='1' stroke='none' fill='hsla(340, 0%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-400,0)' fill='url(%23a)'/></svg>")
}

.box h2 {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
        font-size: smaller;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        z-index: 999;
        padding: 22px 0;
    }

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .navbar li {
        padding: 5px 10px;
    }

    .navbar a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        transition: color 0.3s ease;
        opacity: 0.8;
    }

    .navbar a:hover {
        color: black;
    }

    .container {
        margin-top: 70px;
        text-align: center;
    }

    h1 {
        font-size: 2em;
        margin-top: 25%;
    }

    .client-login-button {
        display: none;
        pointer-events: none;
    }

    .box {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 150px;
        position: relative;
        margin-bottom: 80px;
        color: #ffffff;
    }
}

